<div class="cart-wrapper">
  <div class="cart">
    <h2>Shopping Cart</h2>
    <div class="cart-table">
      <ng-container *ngIf="cartViewModel$ | async as cartViewModel">
        <table *ngIf="cartViewModel?.productsVM">
          <tr *ngFor="let productVM of cartViewModel.productsVM">
            <ng-container *ngIf="productVM.product">
              <td>{{ productVM.product.name }}</td>
              <td>{{ productVM.quantity }} x</td>
              <td>{{ productVM.product.price | currency }}</td>
            </ng-container>
          </tr>
        </table>
      </ng-container>
    </div>
    <hr />
    <div>
      <table *ngIf="cartViewModel$ | async as cartViewModel">
        <tr>
          <td>Total</td>
          <td>{{ cartViewModel?.productsVM | sum | currency }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
