img {
  width: inherit;
}

.name {
  font-size: 1em;
  font-weight: 800;
  margin: 0.3em 0;
}

.price {
  font-size: 1em;
}

.product:hover {
  box-shadow: rgb(0 0 0 / 8%) 0px 2px 4px 0px, rgb(0 0 0 / 8%) 0px 0px 2px 1px;
  border-radius: 8px;
  border: 1px solid transparent;
}

.icons {
  text-align: end;
  min-height: 20px;
}

.icons > span {
  margin: 0px 5px;
  visibility: hidden;
  cursor: pointer;
}

.product:hover .icons > span {
  visibility: visible;
}
