.navbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgb(24, 24, 24);
  background: radial-gradient(
    circle,
    rgba(24, 24, 24, 1) 7%,
    rgba(45, 44, 44, 1) 100%
  );
  width: 100%;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a.hide {
  display: none;
  visibility: hidden;
}
